.menuContainer{
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
    display: flex;
    top: 0;
    position: sticky;
}

.menuItem
{
    height: 100%;
    width: fit-content;
    display: flex;
    padding: 0px 50px 0px 10px;
    align-items: center;
    justify-content: center;
    font-family: 'Karla', sans-serif;
    font-size: 28px;
    font-weight: 500;
    cursor: pointer;
}

.menuItem p:hover
{
    color: yellowgreen;
    transition: 0.3s;
    cursor: pointer;  
}